html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* Reset default margin and padding for ul and li elements */
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    padding: 20px; /* Add padding around header */
}

nav ul {
    display: flex; /* Use flexbox for navigation */
}

nav ul li {
    margin-right: 20px; /* Add margin between buttons */
    text-align: center;
}

nav ul li a {
    color: #5e5e5e; /* Set button text color */
    text-decoration: none; /* Remove underline from links */
    padding: 10px; /* Add padding to buttons */
}

h1 {
    color: #444; /* Set button text color */
    text-align: center;
    font-family: serif;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 10px;
}

.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.about-container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    text-align: justify;
}